.userInfo{
  .text {
    font-size: 14px;
  }

  .item {
    padding: 10px 0;
  }

  .box-card {
    width: 100%;
  }
  .el-card{
    background: none !important;
    border: none !important;
    color: white !important;
  }
}