.Ec-Line {
    width: 100%;
    height: 100%;
    .cascader-style {
        width: 20%;
    }
    #myLine {
        width: 100%;
        height: 90%;
    }
    .el-input {

        width: 45%;
    }
}
.chart-title{
    font-size: 14px;
    margin-right: 10px;
}
