
.uninput-teacher::-webkit-scrollbar {
  width: 4px;
}

.uninput-teacher::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.uninput-teacher::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.uninput-teacher {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .chart-title {
    font-size: 20px;
  }

  .uninput-teacher {
    margin-top: 10px;
  }
}
