.port::-webkit-scrollbar {
  width: 4px;
}
.port::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.port::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.port {
  width: 100%;
  height: 93%;
  overflow-y: auto;
  .thanks-info {
    font-size: 13px;
  }
  .down:hover{
    color: red;
  }
  .btn-port{
    margin: 30px 0 10px 0;
  }
  .el-upload-list__item{
    width: 50%!important;
  }
}